@{
    ViewBag.Title = "О приложении";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Данная программная система является частью системы учёта посещаемости.</p>
<p>
    Расписание представляет собой web-приложение для просмотра учебного расписания, а так же web модуль для системы «Учёт посещаемости», которая в свою очередь использует данные сервиса для своей работы.
    Расписание (как объект ПО) – содержит информацию о том, когда и где проходит то или иное занятие и кто из преподавателей его ведёт. Основные характеристики: тип недели (числитель/знаменатель), день недели, номер пары, расположение, занятие.
</p>
